#aside {
  border-right: 1px solid #000;
  padding: 1rem;
  overflow-y: auto;
  text-transform: capitalize;
  position: relative;
  background-color: #292929;
  overflow-x: hidden;
}
.nav__button__ctn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
  gap: 1rem;
}
.nav__button__ctn.parent {
  padding-left: 1rem;
}
.nav__button__ctn.child {
  padding-left: 4rem;
}
.parent .nav__button {
  background-color: gray;
}
.parent .nav__button:hover {
  color: rgb(112, 112, 112);
  background-color: rgb(209, 209, 209);
}
.child .nav__button {
  background-color: rgb(146, 135, 135);
}
.child .nav__button:hover {
  color: rgb(130, 119, 119);
  background-color: rgb(209, 209, 209);
}
.nav__button {
  color: rgb(211, 211, 211);
  padding: 0.4rem 1.2rem;
  flex: 1;
  font-weight: bold;
  text-align: left;
  text-transform: capitalize;
  border-radius: 1rem;
  border-width: 0;
  transition: background-color 250ms ease, color 250ms ease, transform 250ms ease;
}
.nav__button:hover {
  text-decoration: underline;
  transform: scale(0.96);
}
.nav__button__ctn .tinynum {
  padding: 1rem;
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid lightseagreen;
  background-color: rgb(78, 127, 143);
  font-weight: bolder;
  color: rgb(255, 255, 226);
  font-size: 1.6rem;
  cursor: pointer;
  transition: transform 250ms ease;
}
.nav__button__ctn .tinynum:hover {
  transform: scale(1.2) rotate(20deg);
}
