#main {
  overflow-y: auto;
  font-size: 2rem;
  padding: 1rem 1rem 7.6rem;
  background-color: #292929;
}
.todo__item {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  flex-flow: row nowrap;
  margin: 0.8rem 0.4rem;
  border-left-width: 1.2rem;
  border-left-style: solid;
  border-left-color: transparent;
  padding-left: 0.8rem;
  padding-right: 1rem;
  border-radius: 1rem 0.4rem 0.4rem 1rem;
  background-color: #5a5a5a;
  color: #cecece;
  cursor: pointer;
  transition: opacity 200ms ease;
}
.todo__item:hover {
  opacity: 0.8;
}
.todo__item.low {
  border-left-color: rgb(134, 255, 134);
}
.todo__item.med {
  border-left-color: rgb(255, 255, 125);
}
.todo__item.high {
  border-left-color: rgb(255, 126, 126);
}

.todo__item h3 {
  flex: 1;
  margin: 1rem 0;
}
.todo__item em {
  font-size: 1.2rem;
}
.todo__item button {
  align-self: center;
  height: 2rem;
  flex-basis: 2rem;
  border-radius: 0.4rem;
  color: #fff;
  border: 1px solid #868686;
}
.todo__item__done {
  color: rgb(255, 133, 133) !important;
  transition: transform 250ms linear;
}
.todo__item__done:hover {
  transform: scale(1.2) rotate(90deg);
}

.todo__item.done {
  opacity: 0.55;
}
.todo__item.done.low {
  border-left-color: rgb(64, 130, 64);
}
.todo__item.done.med {
  border-left-color: rgb(139, 139, 66);
}
.todo__item.done.high {
  border-left-color: rgb(135, 64, 64);
}
.todo__item.done h3,
.todo__item.done em {
  text-decoration: line-through;
  text-decoration-color: rgb(0, 0, 0); /* Color of the line */
  text-decoration-style: solid; /* Style of the line (e.g., solid, double, dashed) */
  text-decoration-line: line-through; /* Position of the line (e.g., overline, underline, line-through) */
  text-decoration-thickness: 1px; /* Thickness of the line */
}

.project__item {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  flex-flow: row nowrap;
  background-color: rgb(100, 100, 100);
  margin: 0.8rem 0.4rem;
  color: rgb(214, 214, 214);
  padding: 0 1rem;
  border-radius: 1.2rem;
}
.project__item a:hover {
  text-decoration: none;
}
.project__item a {
  color: rgb(214, 214, 214);
  cursor: pointer;
  margin: 1rem 0 1rem 1rem;
  flex: 1;
}
.project__item button {
  align-self: center;
  height: 2rem;
  border: 1px solid #c2c2c2;
  border-radius: 0.4rem;
  flex-basis: 2rem;
}
#section__diary__inputs__ctn {
  padding: 0.8rem;
  margin: 0.8rem 0.4rem;
  background-color: rgb(141, 141, 141);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
#section__diary__inputs__ctn em {
  grid-column-start: 1;
  grid-column-end: 3;
  justify-self: center;
}
.diary__item {
  background-color: rgb(141, 141, 141);
  padding: 0.8rem;
  margin: 0.8rem 0.4rem;
}
.diary__item > details {
  font-size: 1.6rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.diary__item > details > summary {
  grid-column-start: 1;
  grid-column-end: 3;
}

.note__item {
  background-color: rgb(102, 102, 102);
  padding: 0.8rem;
  margin: 0.8rem 0.4rem;
}
.note__item__header {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-bottom: 0.8rem;
}
.note__item__header em {
  font-size: 1rem;
}
.note__item__title {
  padding: 0.4rem 1rem;
  flex: 1;
}
.note__item__detail {
  flex: 1;
}
.note__item button {
  align-self: start;
  padding: 0.6rem;
  border-radius: 0.4rem;
  color: #fff;
  border: 1px solid #868686;
}
